  $card-corner: 8px;

  .MuiExpansionPanel-root.Mui-expanded {
    margin: 8px 0 !important;
  }
  .MuiExpansionPanel-root.Mui-expanded:first-child {
    margin: 0 0 8px !important;
  }
  .MuiExpansionPanel-root.Mui-expanded:last-child {
    margin: 8px 0 0 !important;
  }
  .MuiExpansionPanelSummary-root {
    padding: 0px 18px !important;
  }
  .MuiExpansionPanelSummary-content {
    margin: 12px 0 !important;
  }
  .MuiExpansionPanelSummary-content.Mui-expanded {
    margin: 0 !important;
  }
  
  .MuiExpansionPanel-rounded:first-child {
    border-top-left-radius: $card-corner !important;
    border-top-right-radius: $card-corner !important;
  }
  .MuiExpansionPanel-rounded:last-child {
    border-bottom-left-radius: $card-corner !important;
    border-bottom-right-radius: $card-corner !important;
  }

  .MuiExpansionPanelSummary-root.Mui-expanded {
    min-height: 36px !important;
  }