/* There are lot of problems with scrollbars, they are moving content. That's not good so just remove them */
.MuiDrawer-paper,
html {
    /*overflow-y: scroll !important;
    scrollbar-color: #fff4 #0000;*/
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display:none
}

/*
.MuiDrawer-paper {
    overflow-y: scroll !important; 
    overflow-y: overlay !important;
}

::-webkit-scrollbar-track {
    background: #0000;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #fff4;
}
*/