.shimmer-wrapper {
    width: 0px;
    animation: full-view 0.5s forwards cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

@keyframes full-view {
    100% {
        width: 100%;
    }
}

.shimmer {
    animation: animate .6s infinite linear alternate;
    border-radius: 4px;
}

@keyframes animate {
    0% {
        background: #fff1;
    }

    100% {
        background: #fff4;
    }
}
